<h3>Single Page Application in Angular</h3>
<hr/>
 
<div style="text-align: center;">
        <a [routerLink]=" ['/'] ">Home</a>  |
        <a [routerLink]=" ['/Emps'] ">Employees</a>  |
        <a [routerLink]=" ['/Depts'] ">Departments</a>  |
        <a [routerLink]=" ['/Aboutus'] ">Aboutus</a>  |
        <a [routerLink]=" ['/Hello'] ">Invalid</a>  |
        <a [routerLink]=" ['/Login'] ">Login</a>  |
        <a [routerLink]=" ['/admin'] ">Admin</a>  |
</div>
<hr/>

<router-outlet></router-outlet>