 <h3>Developing Custom  Directives in Angular</h3>
 <hr/>
 
 
 <div *appIsAdmin="true"  style="border:1px solid gray; padding:10px; margin: 10px;">
    <h1>DIV1</h1>
    <h3>This is admin panel which contains options that admin can access </h3>
    <h3>This is admin panel which contains options that admin can access </h3>
    <h3>This is admin panel which contains options that admin can access </h3>
    <h3>This is admin panel which contains options that admin can access </h3>
</div>

<input type="button" (click)="flag = !flag;"  value="Show/Hide" />

<div *appIsAdmin="flag" style="border:1px solid gray; padding : 10px; margin:10px;">
<h1>DIV2</h1>
<h3>This is admin panel which contains options that admin can access </h3>
<h3>This is admin panel which contains options that admin can access </h3>
<h3>This is admin panel which contains options that admin can access </h3>
<h3>This is admin panel which contains options that admin can access </h3>
</div>