 <h3>Developing Custom  Directives in Angular</h3>
 <hr/>
 
 
 <p appHighLighter="aqua">This section provides new offers released on Summar season. This section provides new offers released on Summar season.</p>


 <p>This is geneal text. This is geneal text. This is geneal text. This is geneal text. This is geneal text. This is geneal text. This is geneal text. This is geneal text. This is geneal text. This is geneal text. This is geneal text. This is geneal text. This is geneal text. This is geneal text. </p>


 <p appHighLighter="lime">This section provides upcoming offers released on Next season. This section provides upcoming offers released on Next season.</p>

 <p>This is geneal text. This is geneal text. This is geneal text. This is geneal text. This is geneal text. This is geneal text. This is geneal text. This is geneal text. This is geneal text. This is geneal text. This is geneal text. This is geneal text. This is geneal text. This is geneal text. </p>

 <p [appHighLighter]="highlightColor">This section provides upcoming offers released on Next season. This section provides upcoming offers released on Next season.</p>


 <p>This is geneal text. This is geneal text. This is geneal text. This is geneal text. This is geneal text. This is geneal text. This is geneal text. This is geneal text. This is geneal text. This is geneal text. This is geneal text. This is geneal text. This is geneal text. This is geneal text. </p>

 <p  appHighLighter>This section provides upcoming offers released on Next season. This section provides upcoming offers released on Next season.</p>