 <style>
    .c1
    {
        border: 1px solid gray;
        border-radius : 10px;
        width : 150px;
        padding : 5px;
        text-align: center;
        margin: 5px;
        float:left;
        box-shadow: 5px 5px 2px black;
    }
  </style>

  <!-- <h1>Selected Location  : {{loc}}</h1>   -->
  
  <div  *ngFor="let deptObj of filteredArray" class="c1">
    <h3 style="margin: 2px;color:Red;"> {{deptObj.dname}} </h3>
    <u> Deptno :   {{deptObj.deptno}} </u>  <br/>
    Location : <span style="color:Green;"> {{deptObj.loc}} </span>   <br/>
  </div>
  
  
  <div *ngIf="filteredArray.length == 0">
    <h3>No departments available in selected locations.</h3>
  </div>
  