
<h3>AJAX Calls to JSON Server using HttpClient in Angular</h3>
<hr/>

<input type="button" value="Get Students By City" (click)="getData1_click()"  />
<input type="button" value="Get Students - Auth Token" (click)="getData2_click()"  />
<br><br>


<table border="2"   cellspacing="0">
	<tr>
	  <th>Student Id</th>
	  <th>Student Name</th>
	  <th>City Name</th>
	  <th>Student Email</th>
	  <th>Student Age</th>
    </tr>
    <tr *ngFor="let item of studentsArray">
        <td>{{item.studentId}}</td>
        <td>{{item.name}}</td>
        <td>{{item.city}}</td>
        <td>{{item.email}}</td>
        <td>{{item.age}}</td> 
    </tr>
</table>

 